@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&family=Overpass:wght@300&family=Poppins:ital,wght@0,300;1,400&display=swap');

:root {
    --red: hsl(0, 100%, 74%);
    --blue: hsl(248, 32%, 49%);
    --greyish-blue: hsl(246, 25%, 77%);
    --dark-blue: hsl(249, 10%, 26%);
    --green: hsl(154, 59%, 51%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background: url(./images/bg-intro-desktop.png);
    background-color: var(--red);
}

.container {
    height: 100vh;
    max-width: 990px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 3rem;
}

.text-section {
    width: 500px;
    margin-right: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
}

p {
    color: #fff;
    margin-top: 1.7rem;
    font-weight: 500;
}

.form-section {
    width: 480px;
}

.form-heading {
    color: #fff;
    margin-bottom: 1.5rem;
    background: var(--blue);
    padding: .8rem;
    text-align: center;
    font-weight: 700;
    border-radius: 7px;
    box-shadow: 0 7px rgba(0,0,0,0.15);
}

#form {
    background: #fff;
    padding: 2.3rem;
    border-radius: 7px;
}

.form-control {
    /******/
}

.input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 1rem;
    border-radius: 4px;
    height: 3rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    height: 100%;
}

.input-field.success {
    border: 1px solid var(--green);
}

.error .input-field {
    margin-bottom: 0;
    border: 1px solid var(--red);
}

.input-field:hover {
    border: 1px solid var(--blue);
}

input {
    border: none;
    outline: 0;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    color: rgba(0,0,0,0.5);
}

.error-icon {
    padding-left: .5rem;
    display: none;
}

.error .input-field .error-icon {
    display: block;
}

.error-icon img {
    width: 20px;
    display: block;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    margin-top: 4px;
    margin-bottom: 1.1rem;
    font-weight: 400;
}

.error .error-message {
    display: block;
}

.cta {
    background: var(--green);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px hsl(154, 76%, 50%);
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;
}

button {
    outline: none;
    border: 0;
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

.cta:hover {
    background-color: hsl(154, 79%, 57%);
}

.terms-and-services {
    font-size: 10px;
    text-align: center;
}

.terms-and-services a {
    font-size: 10px;
    text-decoration: none;
    color: var(--red);
    font-weight: 700;
}

.terms-and-services a:hover {
    color: hsl(0, 100%, 80%);
}

@media(max-width:780px) {
    body {
        background: url(./images/bg-intro-mobile.png);
        background-color: var(--red);
    }

    .container {
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 3rem 1rem;
        padding-bottom: 3rem;
    }

    .text-section {
        text-align: center;
        margin-right: 0;
        width: 88%;
    }

    p {
        margin-bottom: 3.2rem;
    }

    .form-section {
        width: 88%;
    }
}